@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Gloria+Hallelujah&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bg-breadcrumb {
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
    cursor: pointer;
    font-family: 'Montserrat',
        sans-serif;
}

.bg-breadcrumb .breadcrumb-item a {
    color: gold !important;
    font-family: 'Montserrat',
        sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

body .header::after {
    content: "";
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.fa-bars:before,
.fa-navicon:before {
    content: "";
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 50px;
}

.nav-item {
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.13px;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: all 0.5s ease;
}

.nav-item:hover {
    color: gold;
}

.icons {
    position: relative;
    right: 5%;
    font-size: 2.3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}



.white {
    background: #FAF9FE;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 28px;
}


.hero-subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    position: relative;
}



.hero-subtitle span {
    color: gold;
    font-size: 1.875rem;
    position: relative;
}

.hero-title {
    margin-bottom: 20px;
    color: white;
    position: relative;
    font-size: 20px;
    font-family: 'Montserrat',
        sans-serif;
}

.hero-text {
    color: white;
    font-size: 0.875rem;
    line-height: 1.8;
    padding-left: 9px;
    border-left: 1px solid;
    margin-bottom: 30px;
    position: relative;
    /* width: 372px; */
}

.button {
    --color: gold;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    font-family: 'Montserrat',
        sans-serif;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}

@media (min-width : 1200px) {
    .hero-text {
        padding-left: 30px;
        max-width: 100%;
        margin-bottom: 40px;
    }
}

img {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

/* SECTION - HOME */

.home {
    display: grid;
    grid-template-columns: 45% 50%;
    place-items: center;
    gap: 50px;
    background: #000000;
    background-size: cover;
    background-attachment: fixed;

    overflow: hidden;
    padding: 130px 80px;
}

.description {
    color: #fff;
    padding: 0 2px;
}

.description>h1 {
    font-family: "Tilt Neon", sans-serif;
    font-size: clamp(2.3rem, 5vw, 4rem);
    line-height: 1;
    margin-bottom: 30px;
}

.gradient-text {
    font-family: "Tilt Neon", sans-serif;
    /* background-image: linear-gradient(90deg,
            rgb(118, 167, 63) 0%,
            rgb(51, 143, 118) 40%,
            rgb(55, 141, 167) 50%,
            rgb(117, 152, 242) 70%,
            rgb(144, 118, 236) 100%); */
    color: transparent;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
}

.description>p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.users-color-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.item {
    max-width: 200px;
    aspect-ratio: 1/1;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
        inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    animation: fadeIn 0.5s linear 1 forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
}

.item:nth-child(1) {
    background-color: #67d7e1;
    border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
    border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
    background-color: #6cc164;
    border-radius: 50%;
}

.item:nth-child(4) {
    border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
    border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
    background-color: #8071a8;
    border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
    border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
    background-color: #fe7519;
    border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
    background-color: #f5bec3;
    border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
    border-radius: 50%;
}

.item:nth-child(11) {
    background-color: #fcd659;
    border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
    border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* SECTION - CARD CONTAINER */

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    background: rgb(67, 69, 112);
    background: radial-gradient(circle,
            rgba(67, 69, 112, 1) 3%,
            rgba(35, 36, 57, 1) 60%);
    overflow: hidden;
    padding: 90px 50px;
}

.card {
    max-width: 300px;
    aspect-ratio: 3/5;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5),
        inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    cursor: grab;
}

.content {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    padding: 20px;
    background: rgba(104, 104, 104, 0.5);
    user-select: none;
}

.content::before,
.content::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    background: conic-gradient(from var(--gradient-angle),
            rgb(109, 186, 22),
            rgb(30, 119, 95),
            rgb(55, 141, 167),
            rgb(59, 91, 174),
            rgb(144, 118, 236),
            rgb(59, 91, 174),
            rgb(55, 141, 167),
            rgb(30, 119, 95),
            rgb(109, 186, 22));
    animation: rotation 8s linear infinite;
}

.content::after {
    filter: blur(30px);
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

.content img {
    aspect-ratio: 3/2;
    border-radius: 10px;
    grid-row: 1 / 5;
    margin-bottom: 20px;
    user-select: none;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.content h1 {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    grid-row: 5 / 6;
}

.content p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    grid-row: 6 / 9;
}

.btn-grad {
    background-image: linear-gradient(to right,
            #ece9e6 0%,
            #ffffff 51%,
            #ece9e6 100%);
    padding: 10px 16px;
    color: #000;
    box-shadow: 0 0 5px #eee;
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    grid-row: 9 / 10;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.btn-grad:is(:hover, :focus-visible) {
    text-decoration: none;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 14px;
}

.control li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #559b9a, #3b3d8a);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5),
        inset 0px 4px 4px rgba(255, 255, 255, 0.2);
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
}

.control li::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #559b9a, #3b3d8a);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s ease-in;
    opacity: 0;
}

.control li:hover::before {
    opacity: 1;
}

.arrow {
    font-size: 1.5rem;
    color: #fff;


}

.tab {
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
}

.facts {
    background: #ffffff;
}

.gold {
    background: gold;
}

.blak {
    background: black;
    position: relative;
}

.tex {
    color: #000;
}

.section-title {
    color: gold;


}

.service .service-content-inner {
    transition: 0.5s;
}

.service .service-content-inner:hover {
    position: relative;
    background: gold !important;
}

.service .service-content-inner .service-content h5,
.service .service-content-inner .service-content p,
.service .service-content-inner .service-icon i {
    transition: 0.5s;
}

.service .service-content-inner:hover .service-content h5,
.service .service-content-inner:hover .service-content p {
    color: black !important;
}

.service .service-content-inner:hover .service-icon i {
    color: white !important;
}


.product-main {
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.product-grid .showcase {
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease;
}



.product-grid .showcase-banner {
    position: relative;
}

.product-grid .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
}

.product-grid .product-img.default {
    position: relative;
    z-index: 1;
}

.product-grid .product-img.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.product-grid .showcase:hover .product-img.hover {
    opacity: 1;
}

.product-grid .showcase:hover .product-img.default {
    opacity: 0;
}

.product-grid .showcase:hover .product-img {
    transform: scale(1.1);
}

.product-grid .showcase-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    padding: 0 8px;
    border-radius: 5px;
    z-index: 3;
}

.product-grid .showcase-badge.angle {
    top: 8px;
    left: -29px;
    text-transform: capitalize;
    font-size: 11px;
    padding: 5px 40px;
}

.product-grid .showcase-badge.black {
    background: black;
}

.team {

    display: flex;

}

.font {
    color: gold;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.lil {
    padding-top: 41px;
}

.hero-our {
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: gold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    position: relative;
    text-transform: uppercase;
    position: relative;
}

.portf {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

.sha {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 18px;
    position: relative;

}

.section__container {
    max-width: 100%;
    margin: auto;
    padding: 5rem 1rem;
    background: #000;
}

.brands__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
}

.brand__image {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

.brand__image img {
    max-width: 120px;
}

.brand__image:hover {
    opacity: 1;
}

.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

::placeholder {
    font-family: 'Montserrat',
        sans-serif;

}

.contact .contact-information {
    min-height: 150px;
    margin: 0 0 30px 0;
    padding: 30px 15px 0 15px;
    background: #FAF9FE;
}

.contact .contact-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact .contact-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gold;
    border-radius: 50px;
}

.contact .contact-icon i {
    font-size: 18px;
    color: #ffffff;
}

.contact .contact-text {
    position: relative;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contact .contact-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat',
        sans-serif;
}

.contact .contact-text p {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat',
        sans-serif;
}

.contact .contact-social a {
    margin-right: 10px;
    font-size: 18px;
    color: #fbaf32;
}

/* .contact .contact-social a:hover {
    color: #d9e08cf6;
} */

.contact .contact-form iframe {
    width: 100%;
    height: 380px;
    border-radius: 15px;
    margin-bottom: 25px;
    outline: none;
    font-family: 'Montserrat',
        sans-serif;
    ;
}

.contact .contact-form input {
    padding: 15px;
    outline: none;
    background: none;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.contact .contact-form textarea {
    height: 150px;
    padding: 8px 15px;
    background: none;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.section__containeer {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

.footer {
    font-family: 'Montserrat',
        sans-serif;
    ;
    background-color: #faf9fe;

}

.footer__container {
    display: grid;
    gap: 2rem;
}

.footer__logo a {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #090909;

}

.footer__logo img {
    max-width: 50px;
}

.footer__col p {
    margin-bottom: 2rem;
    color: #64748b;

}




.footer__col h4 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #030404;
    font-family: 'Montserrat',
        sans-serif;
}

.footer__links a {
    display: block;
    margin-bottom: 1rem;
    color: #5e6f87;
    transition: .5s;
}

.footer__links a:hover {
    color: gold;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.8rem;
    color: #64748b;
    text-align: center;
}

@media (width < 900px) {

    .brands__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width < 600px) {
    .brands__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1015px) {
    .home {
        grid-template-columns: 45% 50%;
        gap: 50px;
        padding: 140px 50px;
    }

    .description>p {
        font-size: 1rem;
    }

    .btn {
        padding: 8px 12px;
    }

    .btn-grad {
        padding: 8px 12px;
    }

    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 865px) {
    .home {
        grid-template-columns: 45% 50%;
        gap: 60px;
        padding: 130px 70px;
    }
}

@media (max-width: 815px) {
    .home {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "userscolorcontainer"
            "description";
        gap: 30px;
        padding: 90px 80px 70px;
    }

    .users-color-container {
        grid-area: userscolorcontainer;
    }

    .description {
        grid-area: description;
        padding: 0;
        text-align: center;
    }

    .description>p {
        font-size: 1.1rem;
    }

    #form {
        justify-content: center;
    }

    .description>p {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }


}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    .product-grid .showcase-badge.angle {
        top: 0px;
        left: -15px;
        /* transform: rotate(-45deg); */
        text-transform: capitalize;
        font-size: 11px;
        padding: 3px 22px;
    }

    .container {
        max-width: 750px;
        margin: auto;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: block;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all 0.3s ease;
    }

    #check:checked~.navbar {
        height: 20.7rem;
        background: #090803e6;
    }

    .nav-item {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.15s * var(--i));
    }



}

@media (min-width: 480px) {


    .home {
        gap: 0;
        padding: 30px 40px;
    }


    .product-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .product-grid .showcase-badge.angle {
        top: 0px;
        left: -15px;
        /* transform: rotate(-45deg); */
        text-transform: capitalize;
        font-size: 11px;
        padding: 3px 22px;
    }


}

@media (min-width: 1200px) {

    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .description>p {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
    }
}

@media (width > 480px) {

    .footer__container {
        grid-template-columns: 2fr 1fr;
    }
}

@media (width > 768px) {

    .footer__container {
        grid-template-columns: repeat(6, 1fr);
    }

    .footer__col:first-child {
        grid-column: 1/3;
    }
}